<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto 1 - ML & NLP</title>
</head>
<body>
    <h2>Ingrese los Detalles del Vehículo</h2>
    <form method="post" action="/predict">
        Year: <input type="text" name="Year"><br>
        Mileage: <input type="text" name="Mileage"><br>
        State: <input type="text" name="State"><br>
        Make: <input type="text" name="Make"><br>
        Model: <input type="text" name="Model"><br>
        <input type="submit" value="Predecir Precio">
    </form>
</body>
</html>